.loginContainer, .pass, .username{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pass, .username{
    margin: 10px;
}
 .custominput{
    background-color: white;
    border-radius: 10px;
    height: 4vh;
}