.main-container {
    display: flex;
    flex-direction: column;
    padding: 4vh 6vw;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fingerprint {
    height: 8vh;
}

.main-header-right-top {
    display: flex;
    justify-content: center;
}

.main-header-right-top > p {
    font-size: 1.1rem;
    margin: 0 0 1vh 0;
}

.main-header-right-bottom {
    display: flex;
    gap: 10px;
}   

.custom-button {
    height: 36px;
    width: 36px;    
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.custom-button > img {
    height: 1.3rem;
}

.main-body {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    margin-top: 6vh; 
}

.objective {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.heading {
    font-size: 1.1rem;
    font-weight: bold;
}

.objective > textarea {
    background-color: #F3F3F3;
    border-radius: 10px;
    height: 10vh;
    resize: none;
    color: #004785;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 10px;
}

.upload-container {
    display: flex;
    justify-content: space-between;
}

.upload-row {
    display: flex;
    align-items: center;
    gap: 10px;
}